<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question_type_id %>
    <%= form.text_field :question_type_id %>
  </div>

  <div class="field">
    <%= form.label :txt_desc_question %>
    <%= form.text_area :txt_desc_question %>
  </div>

  <div class="field">
    <%= form.label :score_question %>
    <%= form.number_field :score_question %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level %>
  </div>

  <div class="field">
    <%= form.label :sn_active %>
    <%= form.check_box :sn_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
