<%= form_with(model: question_type2, local: true) do |form| %>
  <% if question_type2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question_type2.errors.count, "error") %> prohibited this question_type2 from being saved:</h2>

      <ul>
      <% question_type2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :sn_active_qt %>
    <%= form.check_box :sn_active_qt %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
